NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/tradingapp

JWT_SECRET=cbajsbajbcabslcablscbalsbca
JWT_REFRESH_SECRET=uoeoquhofuqhwifqiowhoiqhfihinva
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

ANGELONE_API_KEY=pjdnChz4
ANGELONE_CLIENT_ID=AABM053064
ANGELONE_PASSWORD=Muskan@987
ANGELONE_TOTP_SECRET=MAVGYZTHVP6XWE7VNAOD4IQDD4
ANGELONE_BASE_URL=https://apiconnect.angelone.in

CASHFREE_APP_ID=TEST112371024e009dc89d25aa1d6bed20173211
CASHFREE_SECRET_KEY=cfsk_ma_test_a08d9708271147456d6155c5393e2054_b617f4b4
CASHFREE_ENV=TEST
CASHFREE_BASE_URL=https://sandbox.cashfree.com/pg

FRONTEND_URL=http://localhost:3000
ADMIN_EMAIL=admin@trading.com
ADMIN_PASSWORD=Admin@123